* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}
body {
	background-color: antiquewhite;
}

.searchBar {
	width: 60%;
	padding: 10px;
	margin: 5px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.searchBar > input {
	flex: 2;
	margin: 5px;
	padding: 5px 10px;
	border: 1px solid black;
}

.searchBar > button {
	flex: 1;
	margin: 5px;
	background-color: aquamarine;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.searchBar > button:hover {
	background-color: rgb(99, 197, 242);
}

.searchBar > button:active {
	background-color: aquamarine;
	transform: scale(1.01);
}

.container_body {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.card_content {
	display: none;
	margin: 10px 30px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.4s ease-out;
	flex: 0.5;
}

.card_content:hover {
	box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.3);
}

.card_image {
	width: 85%;
	margin: 10px auto;
	text-align: center;
}
.card_body {
	padding: 5px;
	text-align: center;
}
.card_btn {
	padding: 10px;
	text-align: center;
}
.card_btn > button {
	width: 50%;
	padding: 5px 5px;
	border: none;
	background-color: rgb(0, 174, 255);
	color: white;
	cursor: pointer;
}
.card_btn > button:hover {
	background: rgb(0, 154, 225);
}
.card_btn > button:active {
	background-color: rgb(0, 174, 255);
	transform: scale(1.01);
	transition: all 0.5s ease-in-out;
}
#uImg {
	width: 75%;
	border-radius: 8px;
}

#uName {
	font-style: italic;
	font-weight: 400;
	font-size: 130%;
}
#uFName {
	font-style: italic;
	font-weight: 400;
}

.table_container {
	padding: 10px;
	flex: 1;
	flex-shrink: 0;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.4s ease-out;
}
.table_container:hover {
	box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.3);
}

.table_container > table {
	width: 90%;
	margin: 0 auto;
	border: 2px solid black;
	border-collapse: collapse;
}
.table_container > table th,
td {
	text-align: center;
	padding: 5px;
	border: 1px solid red;
}

#delBtn {
	padding: 6px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255, 52, 16, 0.878);
	color: white;
	cursor: pointer;
}
#delBtn:hover {
	background-color: rgb(255, 0, 0);
}

#delBtn:active {
	background-color: rgb(255, 52, 16, 0.878);
	transform: scale(1.01);
	transition: all 0.5s ease-in-out;
}
