* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}
body {
	background-color: antiquewhite;
}

.searchBar {
	width: 60%;
	padding: 10px;
	margin: 5px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.searchBar > input {
	flex: 2;
	margin: 5px;
	padding: 5px 10px;
	border: 1px solid black;
}

.searchBar > button {
	flex: 1;
	margin: 5px;
	background-color: aquamarine;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.searchBar > button:hover {
	background-color: rgb(99, 197, 242);
}

.searchBar > button:active {
	background-color: aquamarine;
	transform: scale(1.01);
}

.card_content {
	display: none;
	margin: 10px 30px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: all 0.4s ease-out;
	width: 20%;
}

.card_content:hover {
	box-shadow: 0 10px 26px 0 rgba(0, 0, 0, 0.3);
}

.card_image {
	width: 85%;
	margin: 10px auto;
	text-align: center;
}
#uImg {
	width: 75%;
	border-radius: 8px;
}

#uName {
	font-style: italic;
	font-weight: 400;
	font-size: x-large;
}

.container_body {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
